<html>
<head>

  <title>Data Driven Yale| CartoDB.js</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" />

  <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>

  <style media="screen">
    html,body,#map{
      width: 100%;
      height: 98%;
      padding: 0;
      margin: 0;
    }
  </style>

</head>
<body>
  <div id="map"></div>
  <div id = "tool-tip"></div>
  <script>

      $(document).ready(function() {
          //instantiate CSS for torque layer
          var CARTOCSS = [
           'Map {',
            '-torque-frame-count: 512;',
            '-torque-animation-duration: 45;',
            '-torque-time-attribute: "datetimebe";',
            '-torque-aggregation-function: "avg(airpolluti)";',
            '-torque-resolution: 4;',
            '-torque-data-aggregation: linear;',
            '}',
            '#layer {',
            'comp-op: darken;',
            'marker-line-width: 1;',
            'marker-line-color: #e6e6e6;',
            'marker-line-opacity: 1',
            '[value > 0] {marker-fill-opacity: 0.65; marker-width: 10; marker-fill: #edf8fb;, marker-line-width=1; marker-line-opacity: 1;}',
            '[value > 8.4] {marker-fill-opacity: 0.65; marker-width: 10; marker-fill: #bfd3e6; marker-line-width=1; marker-line-opacity: 1;}',
            'value > 11.62] {marker-fill-opacity: 0.65; marker-width: 10; marker-fill: #9ebcda; marker-line-width=1; marker-line-opacity: 1;}',
            '[value > 14.5] {marker-fill: #8c96c6; marker-fill-opacity: 0.65; marker-width: 10; marker-line-width=1; marker-line-opacity: 1;}',
            '[value > 18] {marker-fill: #8c6bb1; marker-fill-opacity: 0.65; marker-width: 10; marker-line-width=1; marker-line-opacity: 1;}',
            '[value > 22] {marker-fill: #88419d; marker-fill-opacity: 0.65; marker-width: 10; marker-line-width=1; marker-line-opacity: 1;}',
            '[value > 30] {marker-fill:  #6e016b; marker-fill-opacity: 0.65; marker-width: 10; marker-line-width=1; marker-line-opacity: 1;}',
            'marker-line-color: #e6e6e6;',
            '[frame-offset=1] {marker-width: 4; marker-fill-opacity: 0.1; marker-line-opacity: 0.05;}',
            '}'
          ].join('\n');
    
          //declare map variable
          var map = new L.Map('map', {
            scrollWheelZoom:false,
            center: [40, -3.5],
            zoom: 6
          });

          //add basemap
          L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png').addTo(map);

          //create a density legend and add it to the map
          var densityLegend = new cdb.geo.ui.Legend.Density({
            title: 'PM 10 concentration - ug/m3',
            left: "\xa0\xa0\xa00-8\xa0\xa0\xa0\xa0\xa0\xa08-12\xa0\xa0\xa0\xa0\xa012-15\xa0\xa0\xa0\xa015-18\xa0\xa0\xa018-22\xa0\xa022-30\xa0\xa0\xa0>30", colors: ['#edf8fb', '#bfd3e6', '#9ebcda', '#8c96c6', '#8c6bb1', '#88419d', '#6e016b']
          });
          $('#map').append(densityLegend.render().el);

          //create a torque layer with data from the cartoDB web GUI
          cartodb.createLayer(map, {
            type: "torque",
            options: {
              table_name: "pm10_carto",
              user_name: "epi-yale",
              tile_style: CARTOCSS
            }
          },{https:true}
         )
          .addTo(map);
      });
      
  </script>
</body>
</html>
